<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
    <link rel="icon" href="doc.ico.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div>
        <a href="/">Regresar</a>
    </div>
    <article>
        <section>
            <% if(seccion == 1){ %>
                <form action="respuesta_entrada" method="POST">
            <% }else{ %>
                <form action="respuesta_sailda" method="POST">
            <% } %>
                <% for(i=0; i<preguntas.length; i++){ %>
                    <% if(preguntas[i].tipo == 'date'){ %>
                        <div>
                            <%= preguntas[i].pregunta %> <br>
                            <input name="<%= preguntas[i].id %>" type="<%= preguntas[i].tipo %>">
                        </div>
                    <% }else if(preguntas[i].tipo == 'checkbox'){ %>
                        <%= preguntas[i].pregunta %>
                        <% for(j=0; j<respuestas.length; j++){ %>
                            <% if(respuestas[j].id_pregunta == preguntas[i].id){ %>
                                <div>
                                    <label for="respuesta<%= respuestas[j].id %>"><input id="respuesta<%= respuestas[j].id %>" type="<%= preguntas[i].tipo %>" value="respuesta<%= respuestas[j].id %>" name="<%= preguntas[i].id %>"><%= respuestas[j].respuesta %></label>
                                </div>
                            <% } %>
                        <% } %>
                    <% }else{ %>
                        <div>
                            <input name="<%= preguntas[i].id %>" placeholder="<%= preguntas[i].pregunta %>" type="<%= preguntas[i].tipo %>"></input><br>
                        </div>
                    <% } %>
                    <br>
                <% } %>
                <input name="id_encuesta" type="hidden" value="<%= seccion %>">
                <input type="submit" title="enviar">
            </form>
        </section>
    </article>

    <footer>
        <a href="https://www.instagram.com/lorenagomezrecovery/">Instgram</a>
    </footer>
    
</body>
</html>